.person-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

/* .sphere {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    animation: spin 2s linear infinite;
} */

.sphere {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    position: relative;
}

/* .sphere::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #87CEFA 0%, #1E90FF 50%);
} */

/* .sphere::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%);
} */

.details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/* Add CSS for hover modal */
.hover-modal {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    display: none;
    width: 500px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    font-size: 14px;
}

.rounded {
    border-radius: 10px;
}

.sphere:hover .hover-modal {
    display: block;
}